<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirecionar tudo para a pasta public
    RewriteRule ^(.*)$ public/$1 [L]

    # Se a solicitação for para um arquivo ou diretório existente, serve diretamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redireciona para index.php
    RewriteRule ^ public/index.php [L]
</IfModule>
